.custom-table th, .custom-table td {
  border: none !important;

}

.physiotherapy-request-table {

  tr{
    vertical-align: baseline;
  }

}

.prescription-table{
  th td {
    border: solid 1px !important;
  }
}